@keyframes acrool-react-iconsvg-rotate-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.root{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;
  fill: currentColor;
  flex: 0 0 auto;
  width: auto;
  aspect-ratio: 1;



  transform: rotate(var(--icon-rotate, 0));

  &[data-rotate-animation]{
    animation: acrool-react-iconsvg-rotate-animation 1s linear infinite;
  }

}
