.root{
  @keyframes rotate-animation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  --icon-color: var(--props-icon-color);

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;
  fill: currentColor;

  width: var(--icon-size);
  height: var(--icon-size);
  flex: 0 0 auto;


  color: var(--icon-color);

  &[data-active-color]{
    --icon-color: var(--icon-active-color, var(--props-icon-color));
  }

  &:hover{
    --icon-color: var(--icon-hover-color, var(--props-icon-color));
  }


  transform: rotate(var(--icon-rotate));

  &[data-rotate-animation]{
    animation: rotate-animation 1s linear infinite;
  }

}
